html, body {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #141414;
  font-family: 'Akrobat', sans-serif;
}

/* ::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #141414;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

/* * {
  border: 1px solid red;
} */

h1, h2, h3, p, button, select, textarea, input {
  font-family: 'Akrobat', sans-serif;
  text-overflow: ellipsis;
  white-space: wrap;
  font-weight: normal;
}

h1, h2, button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button, input, textarea, select {
  margin: auto;
  border: 0;
  outline: 0;
  background: none;
  text-decoration: none;
}

button {
  cursor: pointer;
}

a:link, a:visited, a:hover, a:active, a {
    color: inherit;
    text-decoration: none;
}

h1 {
  font-family: 'Akrobat Bold', sans-serif;
  font-weight: 500;
}

p {
  font-family: 'Akrobat', sans-serif;
  font-size: 1.2em;
}

.frontPage {
  position: relative;
  width: 100vw;
  overflow: hidden;
  min-height: 100vh;
}

#bg {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url('./assets/stars.png') repeat, linear-gradient(#141414, #0a0a0a);
  background-blend-mode: hard-light;
  opacity: 0.4;
  z-index: -1;
  transition: all 5s;
  animation-fill-mode: forwards;
  animation: scale 20s ease infinite;
}

@keyframes scale {
  50% {
    -webkit-transform:scale(1.5);
    -moz-transform:scale(1.5);
    -ms-transform:scale(1.5);
    -o-transform:scale(1.5);
    transform:scale(1.5);
  }
}

.frontPage * {
  padding: 10px;
  margin: 0;
}

.frontPage h1, .frontPage h2, .frontPage button, .frontPage p {
  position: relative;
  top: 100px;
  left: 5%;
}

.frontPage h1 {
  font-size: 15em;
  background: -webkit-linear-gradient(#ec1f24, #bf191d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 10px rgba(237, 30, 35, 0.6);
}

.frontPage h2 {
  font-family: 'Akrobat Semibold', sans-serif;
  color: #767676;
  text-transform: uppercase;
  top: 40px;
  font-size: 4.5em;
}

.frontPage p {
  top: 20px;
  color: #767676;
  font-size: 1.5em;
}

.frontPage button {
  margin-left: 10px;
  margin-bottom: 200px;
}

.frontPage a {
  padding: 0;
}

#subtitle {
  font-family: 'Akrobat Light', sans-serif;
  font-size: 3em;
  background: none;
  -webkit-text-fill-color: unset;
  color: #c1191d;
  top: 10px;
  font-style: italic;
  text-shadow: 0 0 10px rgba(237, 30, 35, 0.6);
}

#logo {
  position: absolute;
  top: 10vh;
  float: right;
  right: 3%;
  max-width: 40%;
  padding: 5px;
}

#navDown {
  position: absolute;
  bottom: 2vh;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 2;
  transition: all 0.5s;
}

#navDown:hover, #navDown:focus {
  fill: #FFF;
}

.button {
  text-transform: uppercase;
  font-family: 'Akrobat Semibold', sans-serif;
  font-size: 1.6em;
  color: #FFF;
  background-color: #ec1f24;
  padding: 10px 40px 10px 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(237, 30, 35, 0.7);
  transition: all 1s;
  transition: bow-shadow 1s, color 0.5s, background-color 0.5s;
  position: relative;
  z-index: 2;
}

.button:hover {
  color: #ec1f24;
  background-color: #ecf0f1;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.frontPage .button {
  top: 15px;
}

.header {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 10;
  display: block;
  transition: all 0.5s ease-in-out;
}

.header h1 {
  font-size: 1.6em;
  text-transform: uppercase;
  color: #6e6e6e;
  font-family: 'Akrobat Light', sans-serif;
  padding: 5px;
  padding-right: 5%;
  display: inline-block;
  float: right;
  transition: color 0.2s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header h1:hover, .header h1:focus, .teamsDropDown a:hover, .teamsDropDown a:focus {
  color: #bdc3c7;
}

#selected {
  color: #b3b3b3;
}

#selected::after {
  content: '';
  width: 100%;
  height: 2px;
  display: block;
  position: relative;
  top: 10px;
  border: 0;
  background-color: #b3b3b3;
}

.teamsDropDown  {
  display: none;
  position: relative;
  right: 15px;
  background-color: #000000;
  color: #6e6e6e;
  width: 2em;
  padding: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.teams:hover .teamsDropDown, .teams:focus .teamsDropDown {
  display: block;
}

.teamsDropDown {
  transition: color 0.2s ease-in-out;
}

.text {
  position: relative;
  width: 100%;
  background-color: #292929;
  padding: 2%;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.text * {
  margin-left: 7%;
  margin-right: 7%;
}

.text a {
  margin: 0%;
}

.text h1, .heading {
  color: #FFF;
  font-family: 'Akrobat Bold', sans-serif;
  font-size: 3em;
  position: relative;
  text-transform: uppercase;
}

.text h1::after, .right h1::after, .heading::after {
  content: '';
  width: 6%;
  min-width: 50px;
  height: 5px;
  display: block;
  position: relative;
  top: 10px;
  border: 0;
  background-color: #FFF;
  opacity: 0.5;
}

.text h2 {
  color: #FFF;
  font-family: 'Akrobat Semibold';
  position: relative;
  font-size: 2em;
  text-transform: uppercase;
}

.text p {
  color: #FFF;
  font-size: 1.2em;
  position: relative;
  width: 40%;
}

.img-contain {
  margin: 10px;
  float: right;
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: 5%;
  padding: 10px;
  overflow: hidden;
  max-width: 40%
}

.text img {
  margin: 0;
  max-width: 100%;
  max-height: 100%;
}

.right h1 {
  text-align: right;
}

.right h1::after {
  float: right;
  top: 60px;
  right: 80px;
}

.right .img-contain {
  float: left;
  left: 5%;
}

.right p {
  float: right;
  text-align: left;
}

.right button {
  float: right;
}

.instagram {
  margin: 0 3% 0 3%;
}

.container {
  padding: 10px;
  margin: 1% 5% 2% 5%;
  width: 90%;
}

.instagram h1, .instagram p {
  position: relative;
  margin: 5px;
  color: #FFF;
}

.instagram h1 {
  font-size: 3em;
  text-transform: uppercase;
}

.instagram p {
  width: 50%;
  text-overflow: ellipsis;
  max-height: 120px;
}

.button.follow {
  float: right;
  top: 15px;
  right: 5%;
  box-shadow: none;
  background: #FFF;
  margin: 0;
  transition: all 0.5s, padding 0s;
}

.button.follow h2 {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
  margin: 0;
  text-align: center;
  font-size: 1em;
  font-family: 'Akrobat Semibold', sans-serif;
  border-radius: 15px;
  transition: all 0.5s, padding 0s;
}

.button.follow:hover  {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  padding: 0;
}

.button.follow:hover h2, .button.follow:focus h2 {
  padding: 10px 40px 10px 40px;
  -webkit-text-fill-color: #FFF;
}

.pfp {
  position: relative;
  border-radius: 50%;
  float: left;
  height: 20vmin;
  max-height: 120px;
  margin-right: 30px;
}

.images {
  width: 24vmax;
  height: 24vmax;
  object-fit: cover;
  opacity: 1;
  transition: all 0.5s;
  border-radius: 5px;
}

.images:hover, .logoContain {
  opacity: 0.5;
  visibility: visible;
  z-index: -1;
}

.instaContain {
  float: left;
  margin: 1%;
  margin-right: 3%;
  /* one line = 1.5 * 1.2em */
  height: calc(24vmax + (1.2em * 2.8));
  width: 24vmax;
  overflow: hidden;
}

.instaContain p {
  line-height: normal;
  font-size: 1.2em;
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.feed {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 10vh;
  width: 90%;
  overflow: hidden;
}

.feed h2 {
  color: #FFF;
  text-align: center;
  font-size: 1em;
  text-transform: italic;
  font-family: 'Akrobat Light', sans-serif;
}

.members {
  position: relative;
  width: 100%;
  background-color: #292929;
  padding: 50px 7% 50px 7%;
}

.avatar {
  height: 20vmax;
  width: 20vmax;
  object-fit: cover;
  border-radius: 50%;
  margin: auto;
  display: block;
}

.memberContain {
  float: left;
  width: 20vmax;
  height: 25vmax;
  margin: 5%;
  padding: 10px;
}

.memberContain:first-of-type {
  margin-left: 2%;
}

.members h1 {
  text-align: left;
  color: #FFF;
  margin: 2%;
  font-size: 2.5em;
  font-family: 'Akrobat Bold', sans-serif;
  text-transform: uppercase;
}

.members h2, .members h3, .members p {
  text-align: center;
  width: 100%;
  color: #FFF;
  margin: 5px;
}

.members h2 {
  font-family: 'Akrobat Bold', sans-serif;
  color: #FFF;
}

.members h3 {
  opacity: 0.6;
  font-size: 1.2em;
}

.members p {
  font-family: 'Akrobat Light', sans-serif;
  opacity: 0.4;
  overflow: hidden;
}

.absolute {
  position: absolute;
}

.awards {
  width: 100%;
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: #1c1c1c;
}

.awardContain {
  width: 25vmax;
  height: 25vmax;
  overflow: hidden;
  margin: 5% 2% 5% 5%;
  display: inline-block;
}

.awardContainer {
  display: block;
  width: 100%;
  margin: 5% 2% 5% 10%;
}

.awardContain img {
  height: 70%;
  margin: auto;
  display: block;
}

.awardContain h1 {
  text-transform: uppercase;
}

.awardContain h1, .awardContain p {
  text-align: center;
  color: #FFF;
}

.awardContain p {
  position: relative;
  bottom: 12px;
  margin: 5px;
  width: 50%;
  left: 25%;
}

.awardContainer img {
  float: left;
}

.awardContainer h1, .awardContainer p {
  text-align: left;
  position: relative;
  left: 100px;
}

.awardContainer p {
  width: 100%;
}

.awardContain p:last-of-type {
  opacity: 0.5;
}

@media screen and (max-width: 800px) {
  .header h1 {
    font-size: 5vw;
  }

  .frontPage h1 {
    font-size: 40vw;
    margin-bottom: 3vh;
  }

  .frontPage h2 {
    font-size: 10vw;
    margin-bottom: 1vh;
  }

  #subtitle {
    font-size: 10vw;
  }

  #logo {
    display: none;
  }

  .button {
    font-size: 5vw;
    padding: 2vmin 5vmin 2vmin 5vmin;
  }

  .button.follow:hover h2, .button.follow:focus h2 {
    padding: 2vmin 5vmin 2vmin 5vmin;
  }

  .text p {
    width: 85%;
  }

  .text h1, .heading {
    font-size: 10vw;
  }

  .img-contain {
    float: none;
    position: relative;
    display: block;
    margin: auto;
    left: 0; right: 0; top: 0; bottom: 0;
  }

  .text img {
    width: 100%;
  }

  .button {
    display: block;
    margin: auto;
  }

  .feed {
    width: 100%;
  }

  .pfp {
    float: none;
  }

  .instagram p {
    width: 90%;
  }

  .images {
    width: 50vmax;
    height: 40vmax;
  }

  .instaContain {
    width: 50vmax;
    height: calc(40vmax + (1.2em * 2.8));
    margin-bottom: 20px;
  }

  .memberContain {
    width: 100%;
    margin: 1%;
  }

  .avatar {
    margin-right: 5%;
    float: left;
  }

  .members h2, .members h3, .members p {
    text-align: left;
  }

  .textContain {
    max-height: 20vmax;
    overflow: hidden;
    position: relative;
    top: 15px;
  }
}
