body {
  margin: 0;
  padding: 0;
  background-color: #141414;
  font-family: 'Akrobat', sans-serif;
  overflow-x: hidden;
}

/* * {
  border: 1px solid red;
} */

h1, h2, h3, p, button, select, textarea, input {
  font-family: 'Akrobat', sans-serif;
  text-overflow: ellipsis;
  white-space: wrap;
  font-weight: normal;
}

h1, h2, button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button, input, textarea, select {
  margin: auto;
  border: 0;
  outline: 0;
  background: none;
  text-decoration: none;
}

button {
  cursor: pointer;
}

select {
  text-align-last: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  display: block;
  margin: 0 auto;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

a:link, a:visited, a:hover, a:active, a {
    color: inherit;
    text-decoration: none;
}

h1 {
  font-family: 'Akrobat Bold', sans-serif;
  font-weight: 500;
}

.frontPage {
  position: relative;
  overflow: hidden;
  min-width: 100vw;
  min-height: 100vh;
}

#bg {
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #141414 url('./assets/stars.png') repeat 0 0;
  mix-blend-mode: hard-light;
  opacity: 0.4;
  z-index: -1;
  transition: all 5s;
  animation-fill-mode: forwards;
  animation: scale 20s ease infinite;
}

@keyframes scale {
  50% {
    -webkit-transform:scale(1.5);
    -moz-transform:scale(1.5);
    -ms-transform:scale(1.5);
    -o-transform:scale(1.5);
    transform:scale(1.5);
  }
}

.frontPage * {
  padding: 10px;
  margin: 0;
}

.frontPage h1, .frontPage h2, .frontPage button, .frontPage p {
  position: relative;
  top: 100px;
  left: 5%;
}

.frontPage h1 {
  font-size: 15em;
  background: -webkit-linear-gradient(#ec1f24, #bf191d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 10px rgba(237, 30, 35, 0.6);
}

.frontPage h2 {
  font-family: 'Akrobat Semibold', sans-serif;
  color: #767676;
  text-transform: uppercase;
  top: 40px;
  font-size: 4.5em;
}

.frontPage p {
  top: 20px;
  color: #767676;
  font-size: 1.5em;
}

.frontPage button {
  margin-left: 10px;
}

.frontPage a {
  padding: 0;
}

#subtitle {
  font-family: 'Akrobat Light', sans-serif;
  font-size: 3em;
  background: none;
  -webkit-text-fill-color: unset;
  color: #c1191d;
  top: 10px;
  font-style: italic;
  text-shadow: 0 0 10px rgba(237, 30, 35, 0.6);
}

#logo {
  position: relative;
  float: right;
  bottom: 300pt;
  right: 3%;
  max-width: 50%;
}

#navDown {
  position: absolute;
  top: 90vh;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 2;
  transition: all 0.5s;
}

#navDown:hover, #navDown:focus {
  fill: #FFF;
}

.button {
  text-transform: uppercase;
  font-family: 'Akrobat Semibold', sans-serif;
  font-size: 1.6em;
  color: #FFF;
  background-color: #ec1f24;
  padding: 10px 40px 10px 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(237, 30, 35, 0.7);
  transition: all 1s;
  transition: bow-shadow 1s, color 0.5s, background-color 0.5s;
  position: relative;
  z-index: 2;
}

.button:hover, .button:focus {
  color: #ec1f24;
  background-color: #ecf0f1;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.frontPage .button {
  top: 15px;
}

.header {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 2;
}

.header h1 {
  font-size: 1.6em;
  text-transform: uppercase;
  color: #6e6e6e;
  font-family: 'Akrobat Light', sans-serif;
  padding: 5px;
  padding-right: 5%;
  display: inline-block;
  float: right;
  transition: color 0.2s ease-in-out;
}

.header h1:hover, .header h1:focus, .teamsDropDown a:hover, .teamsDropDown a:focus {
  color: #bdc3c7;
}

.teamsDropDown  {
  display: none;
  position: absolute;
  top: 60px;
  background-color: #000000;
  color: #6e6e6e;
  width: 100px;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#teams:hover .teamsDropDown, #teams:focus .teamsDropDown {
  display: block;
}

.teamsDropDown {
  transition: color 0.2s ease-in-out;
}


.text {
  position: relative;
  width: 100%;
  background-color: #292929;
  padding: 2%;
}

.text * {
  margin-left: 7%;
  margin-right: 7%;
}

.text a {
  margin: 0%;
}

.text h1 {
  color: #FFF;
  font-family: 'Akrobat Bold', sans-serif;
  font-size: 3em;
  position: relative;
  text-transform: uppercase;
}

.text p {
  color: #FFF;
  font-size: 1.2em;
  position: relative;
  width: 30%;
}

.img-contain {
  margin: 0;
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: 5%;
  padding: 10px;
  overflow: hidden;
}

.text img {
  margin: 0;
  max-height: 100%;
}

.instagram {
  margin: 0 3% 0 3%;
}

.container {
  padding: 10px;
  margin: 1% 5% 2% 5%;
}

.instagram h1, .instagram p {
  position: relative;
  margin: 5px;
  color: #FFF;
}

.instagram h1 {
  font-size: 3em;
  text-transform: uppercase;
}

.instagram p {
  width: 50%;
  text-overflow: ellipsis;
}

.button.follow {
  float: right;
  top: 15px;
  right: 5%;
  box-shadow: none;
  background: #FFF;
  margin: 0;
  transition: all 0.5s, padding 0s;
}

.button.follow h2 {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
  margin: 0;
  text-align: center;
  font-size: 1em;
  font-family: 'Akrobat Semibold', sans-serif;
  border-radius: 15px;
  transition: all 0.5s, padding 0s;
}

.button.follow:hover  {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  padding: 0;
}

.button.follow:hover h2 {
  padding: 10px 40px 10px 40px;
  -webkit-text-fill-color: #FFF;
}

.pfp {
  position: relative;
  border-radius: 50%;
  float: left;
  height: 6em;
  margin-right: 30px;
}

.images {
  width: 25vmax;
  height: 25vmax;
  object-fit: cover;
  opacity: 1;
  transition: all 0.5s;
}

.images:hover, .logoContain {
  opacity: 0.5;
  visibility: visible;
  z-index: -1;
}

.instaContain {
  float: left;
  margin: 1%;
  height: 28vmax;
  width: 25vmax;
  overflow: hidden;
}

.instaContain p {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logoContain {
  position: relative;
}

#instagramLogo {
  position: absolute;
  top: 8vmax;
  right: 9vmax;
}

.feed {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
}
